@import '@/style/index.scss';

.container {
  width: 100%;
  height: $headersHeight;

  .headerRight {
    @include flex;
  }

  .fs20 {
    font-size: 20px;
  }

  .mr20 {
    margin-right: 20px;
  }

  @include flex;
  @include borderBox(0 20px);
}
