@import '@/style/index.scss';

.container {
  .layout-container {
    flex: 1;
    width: 100%;

    &-main {
      flex: 1;
      height: 100%;
      background-color: #ddd;
    }

    @include flex(flex-start, flex-start);
  }
  // @include flexDir();
}
